.titulo {
    text-align: center;
    font-size: 35px;
    font-weight: var(--tipo-light);
    margin-top: 100px;
    margin-bottom: 100px;
}

.link-caption {
    font-size: var(--text-base);
    font-weight: var(--tipo-light);
}

.link-caption a {
    color: var(--negro);
}

.feed {
    max-width: 45%;
}

.alinear-imagenes-feed-1 {
    margin-top: 115px;
}

.alinear-imagenes-feed-2 {
    margin-top: 60px;
}

@media (max-width: 900px) {
    .alinear-imagenes-feed-1 {
        margin-top: 75px;
    }
    
    .alinear-imagenes-feed-2 {
        margin-top: 40px;
    }
}

@media (max-width: 500px){ 
    .feed {
        max-width: 100%;
        margin-top: 40px;
    }

    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: var(--tipo-light);
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .alinear-imagenes-feed-1 {
        margin-top: 0px;
    }
    
    .alinear-imagenes-feed-2 {
        margin-top: 40px;
    }

}